.container {
    color:#000000;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(213, 198, 136);
  }
  
  .header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .icon {
    font-size: 150px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  input {
    background-color: rgba(255, 255, 255, 0.6);
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: rgb(144, 86, 191);
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .weatherInfo {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }